<div class="row">
  <div class="col-md-12">
    <div class="jumbotron text-center">
      <h1 class="display-3">Formula 1</h1>
      <p class="lead">Sample Application about Formula 1: Races and Winners</p>
      <hr class="my-4">
      <p>World Champions from 2005 to 2015</p>
    </div>
  </div>
  <div class="col-md-12" *ngIf="isLoading">
    Loading Data...
  </div>
</div>
<div class="row" *ngIf="!isLoading">
  <div class="col-md-3" *ngFor="let champ of champions; let i = index" >
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          {{ champ.DriverStandings[0].Driver.familyName }}, {{champ.DriverStandings[0].Driver.givenName}}
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Points: {{champ.DriverStandings[0].points}} | <span class="text-right">Season: {{ champ.season }} </span></h6>
        <p class="card-text">Wins: {{champ.DriverStandings[0].wins}}</p>
        <a routerLink="/results/{{champ.season}}" placement="top" ngbTooltip="See Results per Season" class="card-link">Results</a>
        <a routerLink="/winners/{{champ.season}}" placement="top" ngbTooltip="See all Winners" class="card-link">Winners</a>
      </div>
    </div>
    <br>
  </div>
</div>
